.background {
    width: 100%;
    height: 100vh;
}

.background-container {
    background-image: url("/img/background-login.png");
}

.background-overlay {
    background-color: var(--bg-blue);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.box {
    background-color: white;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    padding: 10px 15px;

    width: 350px;
    height: auto;
}

.box-title {
    margin-top: 10px;
}

.box-title > p {
    margin-top: 3px;
}

.box > form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    margin-top: 15px;

    width: 100%;
    height: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;

    width: 100%;
    height: auto;
}

.inputs > input {
    border: 2px solid rgb(143, 143, 143);
    border-radius: 4px;
    
    padding: 8px 5px;

    width: 100%;
    height: auto;

    transition: all ease-in .15s;
}

.inputs > input:focus {
    box-shadow: 0 0 0 1px rgb(143, 143, 143);
}

.box > form > button {
    background-color: var(--primary);
    border-radius: 4px;

    color: white;
    font-weight: bold;

    cursor: pointer;

    margin: 5px 0;
    padding: 10px 0;

    width: 100%;
    height: auto;

    transition: all ease-in-out .15s;
}

.box > form > button:hover {
    transform: scale(0.95);
    background-color: var(--primary-light);
}

@media (min-width: 1800px) {
    body, input, button {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .box {
        width: 450px;
    }

    .box-title > p {
        margin-top: 5px;
    }
}