@import "tailwindcss";

:root {
  --bg-blue: rgba(13, 0, 255, 0.4);
  --bg-orange: rgba(255, 177, 117, 0.61);
  --form-box: #FCCD92;
  --primary: #6EA5FF;
  --primary-light: #7eaefb;
  --secondary: #FFA556;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}