* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-blue: rgba(13, 0, 255, 0.4);
  --bg-orange: rgba(255, 177, 117, 0.61);
  --form-box: #FCCD92;
  --primary: #6EA5FF;
  --primary-light: #7eaefb;
  --secondary: #FFA556;

}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.86rem;
}

button {
  border: none;
  background: none;
}

a {
  color: black;
  text-decoration: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

.input:focus {
  border: none;
  outline: none;
}

h1, h2, h3 {
  font-size: 1.2rem;
}

body, input, button {
  font-size: 0.86rem;
}

.hide {
  display: none;
}

.img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}